// Nextflow configuration file for Anvi'o pipeline

params {
    // Input parameters
    genomes = null  // Path to directory containing .fna files
    cog_db = null   // Path to COG database directory (optional)
    kegg_db = null  // Path to KEGG database directory (optional)
    project_name = "pangenome" // Name for the Anvi'o project
	run_genomedb = true
	run_pangenome = false

    // Output
    outdir = "./results"
    
    // Processing parameters
    min_length = 1000
    threads = 4
}


// Execution profiles
profiles {
    docker {
        docker.enabled = true
        process.container = 'docker://sysbiojfgg-anvio_cogpfam:v0.1.img'
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://sysbiojfgg-anvio_cogpfam:v0.1.img'
    }
}


// Report and trace options
report {
    enabled = true
    file = "${params.outdir}/report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}
